.loader {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 16px solid #00a096;
    border-bottom: 16px solid #1081d0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
